:root {
    --background: linear-gradient(0deg, #bcd9ea, white 30%);
    --back_icon: #0077b6;
    --text_general: black;
    --title: #0077b6;
    --head_tx: #e0e0e0;
    --bt_tx: white;
    --color_hover: linear-gradient(90deg, #ff00cc, transparent 70%),
                    linear-gradient(180deg, #333fff, transparent 70%),
                    linear-gradient(250deg, #333fff, transparent 70%);
    --pg_txcolor: #008cd7;
    --menus_color: #686868;
}

* {
    box-sizing: border-box; margin: 0; padding: 0;
}
html, body {height: 100%;}
body {
    font-family: 'Helvetica Neue', 'Segoe UI', system-ui, apple-system, Roboto, Arial;
    background: var(--background);
    color: black;
    padding: 2rem;
    -webkit-font-smoothing: antialiased;
}

.no_click {
    cursor: default;
    user-select: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}

.brand {
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--title);
}
nav a{
    color: var(--head_tx);
    text-decoration: none;
    margin-left: 1rem;
    transition: transform 0.3s ease-in-out;
}
nav a:hover {
    background: var(--color_hover);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.05);
}

header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

main {
    margin-top: 1rem;
}

.center_tx {
    color: var(--title);
    display: absolute;
    align-items: center;
    font-size: 25px;
}

.center_disp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back_picture {
    background: var(--back_icon);
    border-radius: 50%;
    margin-top: 0.5rem;
    height: 200px;
    width: 200px;
}

.username {
    display: absolute;
    font-size: 15px;
    color: var(--head_tx);
    background: white;
    border: 3px solid var(--head_tx);
    border-radius: 50px;
    margin-top: 1rem;
    width: 250px;
    text-align: center;
}

input {
    border: none;
    outline: none;
    text-align: center;
    font-size: 15px;
}

/*Profile page*/

.pg_main {
    display: grid;
    grid-template-columns: auto;
    font-size: 1rem;
    color: var(--menus_color);
}
.pg_main h2 {
    color: var(--pg_txcolor);
}

.base_info {
    font-size: 1rem;
    color: var(--menus_color);
}
.base_info h2 {
    color: var(--pg_txcolor);
    margin-top: 2rem;
}